<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/reset.css  ">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/cabecalho.css">
  <link rel="stylesheet" href="../assets/css/login.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <link rel="stylesheet" href="../assets/css/banner.css">
  <link rel="stylesheet" href="../assets/css/produtos.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <header class="cabecalho">
      <div class="cabecalho__logo">
        <img class="cabecalho__logo-img1" src="../assets/images/joystick-logo.png" alt="Imagem joystick">
        <img class="cabecalho__logo-img2" src="../assets/images/logo.png" alt="Logo da Alura Geek">
      </div>
      <div class="cabecalho__pesquisa">
        <input class="cabecalho__pesquisa-input" type="text" placeholder="O que você deseja encontrar?">
        <img  class="cabecalho__pesquisa-lupa" src="../assets/images/lupa.png" alt="Imagem de lupa">
      </div>
    </header>
    <section class="produtos all" >
      <a href="../index.html"><div class="voltar">&#129044; Voltar</div></a>
      <div class="produtos__categoria">
        <div class="produtos__cabecalho all">
          <h3 class="produtos__cabecalho-title">Todos os produtos</h3>
          <div class="produtos__cabecalho-all">
            <a href="add-products.html"><button class="produtos__button" type="button">Adicionar produto</button></a>
          </div>
        </div>
        <div class="produtos__lista-all" >
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/stormtrooper-mug.png" alt="Imagem de uma caneca stormtrooper">
            <p class="produtos__item-desc">Caneca Stormtrooper</p>
            <p class="produtos__item-preco">$ 60,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/star-wars-lego.png" alt="Imagem de duas cabeças de LEGO">
            <p class="produtos__item-desc">Kit LEGO Star Wars</p>
            <p class="produtos__item-preco">$ 120,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/yoda.png" alt="Imagem de um boneco do Yoda">
            <p class="produtos__item-desc">Yoda Action Figure</p>
            <p class="produtos__item-preco">$ 150,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/stormtrooper.png" alt="Imagem de um boneco stormtrooper">
            <p class="produtos__item-desc">Stormtrooper A. Figure</p>
            <p class="produtos__item-preco">$ 150,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/baby-yoda.png" alt="Imagem de um boneco Baby Yoda">
            <p class="produtos__item-desc">Boneco Baby Yoda</p>
            <p class="produtos__item-preco">$ 200,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/kylo-ren.png" alt="Imagem de um boneco do Kylo Ren">
            <p class="produtos__item-desc">Kylo Ren Action Figure</p>
            <p class="produtos__item-preco">$ 150,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/joystick.png" alt="Imagem de um joystick">
            <p class="produtos__item-desc">Controle X-Box</p>
            <p class="produtos__item-preco">$ 199,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/ps5.png" alt="Imagem de um PlayStation 5">
            <p class="produtos__item-desc">PlayStation 5</p>
            <p class="produtos__item-preco">$ 2.999,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/nes.png" alt="Imagem de um Super Nintendo">
            <p class="produtos__item-desc">Super Nintendo</p>
            <p class="produtos__item-preco">$ 999,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/nintendo-switch-controller.png" alt="Imagem de controles Nintendo Switch">
            <p class="produtos__item-desc">Pad Nintendo Switch</p>
            <p class="produtos__item-preco">$ 299,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/xbox.png" alt="Imagem de um Xbox">
            <p class="produtos__item-desc">Xbox Clássico</p>
            <p class="produtos__item-preco">$ 1.999,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/gameboy.png" alt="Imagem de um Game Boy com 3 cartuchos">
            <p class="produtos__item-desc">Game Boy + 3 jogos</p>
            <p class="produtos__item-preco">$ 499,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/atari.png" alt="Imagem de uma logo da Atari">
            <p class="produtos__item-desc">Camiseta Atari</p>
            <p class="produtos__item-preco">$ 60,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/man-playing.png" alt="Imagem de um homem jogando">
            <p class="produtos__item-desc">Camiseta SNES</p>
            <p class="produtos__item-preco">$ 60,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/sonic.png" alt="Imagem de um boneco do Sonic">
            <p class="produtos__item-desc">Sonic Action Figure</p>
            <p class="produtos__item-preco">$ 150,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/flip-clock.png" alt="Imagem de um radio relógio">
            <p class="produtos__item-desc">Rádio Relógio Vintage</p>
            <p class="produtos__item-preco">$ 299,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/vr-man.png" alt="Imagem de um homem com óculos RV">
            <p class="produtos__item-desc">Óculos RV</p>
            <p class="produtos__item-preco">$ 1.299,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
          <div class="produtos__item">
            <img class="produtos__item-img" src="../assets/images/pikachu.png" alt="Imagem de um boneco do Pikachu">
            <p class="produtos__item-desc">Pikachu de Pelúcia</p>
            <p class="produtos__item-preco">$ 250,00</p>
            <a href="#" class="produtos__item-ver">Ver produto</a>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="footer__logo box1">
        <img class="cabecalho__logo-img" src="../assets/images/joystick-logo.png" alt="Imagem joystick">
        <img class="cabecalho__logo-img" src="../assets/images/logo.png" alt="Logo da Alura Geek">
      </div>
      <div class="footer__links">
        <nav>
          <ul class="footer__links-lista box2">
            <a href="#" class="footer__links-item">Quem somos nós</a>
            <a href="#" class="footer__links-item">Política de privacidade</a>
            <a href="#" class="footer__links-item">Programa fidelidade</a>
            <a href="#" class="footer__links-item">Nossas lojas</a>
            <a href="#" class="footer__links-item">Quero ser franqueado</a>
            <a href="#" class="footer__links-item">Anuncie aqui</a>
          </ul>
        </nav>
      </div>
      <div class="footer__contato box3">
        <h3 class="footer__contato-title">Fale conosco</h3>
          <label class="footer__contato-label" for="nome">Nome</label>
          <input class="footer__contato-input" type="text" id="nome" name="nome" placeholder="Insira seu nome completo" minlength="3"/>
          <textarea
          class="footer__contato-mensagem" placeholder="Escreva a sua mensagem" minlength="3"></textarea>
          <button class="footer__contato-button" type="submit">Enviar mensagem</button>
      </div>
    </section>
    <footer>
      <div class="footer__rodape">
        <p>Desenvolvido por Márcio Taranto</p>
        <p class="footer__rodape-ano">2023</p>
      </div>
    </footer>
  </div>
</body>
</html>