.produtos {
  background: var(--branco-input);
  margin: 0 -8rem;
  padding: 2rem 8rem;
}
.produtos__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.voltar {
  color: var(--azul-claro);
  font-weight: bold;
  cursor: pointer;
  text-align: end;
  margin-bottom: 16px;
}
.produtos__cabecalho-title {
  font-size: 2rem;
}
.produtos__all {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--azul-claro);
  font-weight: bold;
  cursor: pointer;
}
.produtos__lista {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.produtos__lista-all {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
}
.produtos__item {
  margin-bottom: 4rem;
}
.produtos__item-img {
  width: 10.65rem;
}
.produtos__item-preco {
  font-weight: bold;
}
.produtos__item-ver {
  color: var(--azul-claro);
  font-weight: bold;
  text-decoration: none;
}
.produtos__button {
  width: 10.3125rem;
  height: 3.94544rem;
  background-color: var(--azul-claro);
  color: var(--branco);
  cursor: pointer;
  border: 0;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .produtos {
    margin: 0;
    padding: 32px;
  }
  .produtos__lista {
    gap: 16px;
    max-width: 752px;
  }
  .produtos__item {
    max-width: 164px;
  }
  .produtos__item.principal:nth-child(5),
  .produtos__item.principal:nth-child(6) {
    display: none;
  }
}

@media (max-width: 425px) {

  .produtos {
    margin: 0;
    padding: 32px;
  }
  .produtos__cabecalho {
    flex-direction: column;
    align-items: start;
  }
  .produtos__item.principal:nth-child(5),
  .produtos__item.principal:nth-child(6) {
    display: none;
  }
  .produtos__lista {
    gap: 16px;
    flex-wrap: wrap;
    max-width: 752px;
    margin-left: 16px;
  }
  .produtos__cabecalho-title {
    margin-left: 16px;
  }
  .produtos__cabecalho-title.mobile {
    margin-bottom: 16px;
    margin-left: 0;
  }
  .produtos__all {
    margin-right: 16px;  }
    .produtos__item {
    margin-bottom: 16px;
  }

}