/*::-webkit-scrollbar {
  width:5px;
}*/
:root {
  --branco: #ffffff;
  --azul-claro: #2a7ae4;
  --azul-fundo: #EAF2FD;
  --branco-input: #f5f5f5;
  --cinza-titulo: #464646;
  --placeholder: #9A9A9A;
  --linha-input: #c8c8c8;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 8rem;
}
footer {
  max-width: 360px;
}
.footer__rodape {
  text-align: center;
}
.footer__rodape-ano {
  margin-top: -0.75rem;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 384px) {

  body {
    max-width: 384px;
  }
  .container {
    margin: 0;
  }
}